@{
    ViewData["Title"] = "Home Page";
    var books = (List<Book>)ViewData["BookCollection"]!;
}

<div class="text-center">
    <h1 class="display-4">BookStore</h1>
    <p><a href="https://docs.microsoft.com/aspnet/core">Welcome our BookStore</a>.</p>
</div>
<div>
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Название книги</th>
      <th scope="col">Дата публикации</th>
      <th scope="col">Имя автора</th>
    </tr>
  </thead>
  <tbody>
      @foreach(var book in books){
    <tr>
      <th scope="row">@book.Id</th>
      <th scope="row">@book.Name</th>
      <th scope="row">@book.PublishDate</th>
      <th scope="row">@book.AuthorName</th> 
    </tr>   
      }
  </tbody>
</table>
</div>
